<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Banshee Launcher</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
      <h2>Welcome Back,</h2>
        <h1><%= user.local.email %></h1>
        <br>
        <a href="/play" class="btn btn-primary btn-lg">Play Minecraft</a>
        <br>
        <br>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>username</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

    </div>

</div>
</body>
</html>
